main {
  width: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  width: 100%;
}
header,
footer {
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
}
footer {
  margin-top: auto;
}
