#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.party {
  margin-top: 20px;
  padding: 50px;
  border: 2px solid #333;
  border-radius: 5px;
  transition: background-color 0.4s ease;
}
